// COLORS
$primary-color: #141E30;
$secondary-color: #26446b; //#243B55
$tertiary-color: #66d3de; //#92DCE5
$additional-color: #E6AF2E;
$font-family: "Montserrat", sans-serif;

$light-white: #e5e5e5;
$white-color: #ffffff;
$dark-grey: #1e1e1e;

$dark-blue-text: #272341; // For headings

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
